@using Nop.Plugin.Payments.EPay.Models;
@using Nop.Web.Framework;
@{
    Layout = "";
}
@model Nop.Plugin.Payments.EPay.Models.ConfigurationModel

@using (Html.BeginForm())
{
    <table class="adminContent">
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.MerchantId):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.MerchantId)
                @Html.ValidationMessageFor(model => model.MerchantId)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.FullScreen):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.FullScreen)
                @Html.ValidationMessageFor(model => model.FullScreen)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.Group):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.Group)
                @Html.ValidationMessageFor(model => model.Group)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.Md5Secret):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.Md5Secret)
                @Html.ValidationMessageFor(model => model.Md5Secret)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.AuthMail):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.AuthMail)
                @Html.ValidationMessageFor(model => model.AuthMail)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.InstantCapture):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.InstantCapture)
                @Html.ValidationMessageFor(model => model.InstantCapture)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.OwnReceipt):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.OwnReceipt)
                @Html.ValidationMessageFor(model => model.OwnReceipt)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.UseRemoteInterface):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.UseRemoteInterface)
                @Html.ValidationMessageFor(model => model.UseRemoteInterface)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.RemotePassword):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.RemotePassword)
                @Html.ValidationMessageFor(model => model.RemotePassword)
            </td>
        </tr>
        <tr>
            <td colspan="2" width="100%">
                <button type="submit" name="save" value="save" class="t-button">
                    Save</button>
            </td>
        </tr>
    </table>
    
}